- content_for :page_title, "View case"
- content_for :header_extension do
  = render "investigations/action_bar", investigation: @investigation, actions: true

= render "components/hmcts_subnav", title: "Summary",
        items: [{ href: investigation_url(@investigation), text: "Overview", active: @current == "Overview"},
                { href: investigation_products_url(@investigation), text: "Products (#{@investigation.products.count})", active: @current == "Products"},
                { href: investigation_businesses_url(@investigation), text: "Businesses (#{@investigation.businesses.count})", active: @current == "Businesses"},
                { href: investigation_documents_url(@investigation), text: "Attachments (#{@investigation.documents.count})", active: @current == "Attachments"},
                { href: "/cases/#{@investigation.pretty_id}/activities", text: "Timeline", active: @current == "Activity"}]
ruby:
  partial = case @current
  when "products"
    "investigations/tabs/products"
  when "businesses"
    "investigations/tabs/businesses"
  when "documents"
    "investigations/tabs/attachments"
  when "activities"
    "investigations/tabs/activity"
  else
    "investigations/tabs/overview"
  end
= render partial
