.check-your-answers-table {
  th {
    vertical-align: top;
  }
}

.entity-list {
  dl {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
  }

  dt {
    clear: left;
    float: left;
    width: calc(100% - 7em);
    word-break: break-word;
    padding-right: 10px;
    margin: 0;
  }

  dd {
    float: left;
    width: 7em;
    margin: 0;
  }
}
